@font-face {
    font-family: 'IBM Plex Sans';
    src: url("/assets/fonts/Caveat-Bold.ttf");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: "Caveat Bold";
}

.sidebar {
    background-color: #f5f5f5;
    padding: 20px;
    min-height: 100vh;
    width: 300px;
}

.divider {
    margin: 25px auto;
    border-top: gray solid 1px;
    width: 80px;
    opacity: 0.5;
}

.clear {
    clear: both;
    width: 100%;
}

.btn-normal {
    background-color: white;
}

.btn-common {
    background-color: #C61F3D;
    color: white;
}

button.btn-padding {
    padding: 15px 25px;
}

.space {
    margin-bottom: 50px;
}

#formMessage {
    display: none;
}

.marginVertical {
    margin: 10px 0;
}

.adminPanel {
    bottom: 20px;
}

.col-item {
    color: white;
    padding: 0 50px;
}

#main {
    padding: 25px 0;
}

.span-name {
    font-family: "IBM Plex Sans";
    font-style: italic;
}

.span-time {
    font-size: 0.8rem;
    opacity: 0.8;
}

.btn-circle {
    background-color: #C61F3D;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: white;
}

.item-margin button {
    margin: 0 2px;
}

.modal-title {
    width: 100%;
    color: #C61F3D;
    text-align: center;
}

#myModal table input {
    border-radius: 5px;
    border: solid 1px #CCC;
    margin: 10px;
    padding: 3px 10px;
    color: #000;
}

#myModal table input[type="submit"] {
    background: #C61F3D;
    color: #FFF;
    width: 180px;
}

.modal-body table {
    text-align: center;
    width: 100%;
}

.modal-backdrop {
    z-index: -1;
}

.page-link {
    border-radius: 1.2rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem 0.85rem;
    margin: 0 5px;
    border: unset;
}

.page-item.active .page-link {
    background-color: #C61F3D;
    border-color: #C61F3D;
}

.page-link:active, .page-link:focus, .page-link:hover {
    color: #C61F3D;
    background-color: unset;
}

@media screen and (max-width: 460px) {
    .sidebar {
        min-height: auto;
        width: 100%;
    }
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.nav {
    justify-content: center;
}
